<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Member</title>
</head>
<body>
<h1>Add Member</h1>
<form th:action="@{/admin/addMember}" method="post" th:object="${user}">
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" placeholder="Username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" placeholder="Password" />
    </div>
    <button type="submit">Add Member</button>
</form>
</body>
</html>